
@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<EmployeesDetail>

<div class="row">
    <div class="col-10">
        <h4> Employee Details </h4>
    </div>
    <div class="col-2">
        <a asp-controller="Employee" asp-action="Create" class="btn btn-primary"> Add Employee </a>
    </div>
</div>

<div style="margin-top = 30px">
    <form>
        <div class="row">
            <div class="col-12">
                Search :   <input class ="col-8" type="text" name="searchText" value="@ViewData["currentSearch"]" />
                <input class ="col-2" type="submit" class="btn btn-primary" value="Search" />
            </div>
        </div>
    </form>
</div>


<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th> Employee ID </th>
                    <th> <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]"> Name </a> </th>
                    <th> <a asp-action="Index" asp-route-sortOrder="@ViewData["DesignationSortParam"]"> Designation </a>  </th>
                    <th> <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]"> Hire Date </a>  </th>
                    <th> Department Id </th>
                    <th> Status </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in Model)
                {
                    <tr>
                        <td> @emp.Id  </td>
                        <td> @emp.Name </td>
                        <td> @emp.Designation </td>                      
                        <td> @emp.HireDate </td>
                        <td> @emp.DepartmentId </td>
                        <td> @emp.DelStatus </td>
                        <td>
                            <a asp-action="Update" asp-route-id="@emp.Id" class="btn btn-primary"> Update </a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@emp.Id" class="btn btn-primary" onclick="return confirm('Are you sure to delete the customer')"> Soft Delete </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

